.v-hidden {
    visibility: hidden !important;
}

.color-blue {
    color:#0b0fe3;
}

.dotmote-svg {
    background-color: #EBE3E3;
}

body {
    -moz-transform: scale(0.75, 0.75);
    zoom: 0.75;
    zoom: 75%;
}